* {
    margin: 2vh;
    padding: 0;
}

body {
    margin: 0;
    background-color: white;
}

.unmute {
    z-index: 10 !important;
    display: block;
    position: absolute;
    width: auto;
    height: 8%;
    object-fit: cover;
    mix-blend-mode: difference;
    cursor: pointer;
    margin-right: 3vh;

}

.imagestatic {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    display: block;
}

.imagecropped {
    width: 100%;
    height: 96vh;
    overflow: hidden;
    display: block;
    justify-content: center;
    object-fit: cover;
    margin: 0;
}

.videostatic {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}

.videocropped {
    width: 100%;
    height: 96vh;
    overflow: hidden;
    display: block;
    justify-content: center;
    object-fit: cover;
    margin: 0;
}

.model {
    width: calc(100vw - 2vh);
    height: 96vh;
    position: relative;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

hr {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 0;
    margin-right: 0;
}

.cont {
    margin: 0;
    display: flex;
    isolation: isolate;
    justify-content: end;
    align-items: end;
}

@media screen and (max-aspect-ratio: 1/1) {
    * {
        margin-left: 0;
        margin-right: 0;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    body {
        margin-top: -2vh;
    }

    .unmute {
        margin: 2vh;
        margin-right: 2.5vh;
    }

    .imagecropped {
        height: 80vh;
    }

    .videocropped {
        height: 80vh;
    }

    .model {
        height: 80vh;
    }


}